@inherits LayoutComponentBase


<div class="container">
    <header class="card header">
        <h1>PlayStudios Leaderboard Demo</h1>
        <a href="/swagger" target="_blank" class="muted">/Pham Vu Phuong</a>
    </header>
    <main class="card">
        @Body
    </main>
    <footer class="card footer muted">
        Author: Pham Vu Phuong • Test Demo
    </footer>
</div>